* { 
    margin:0px;
    padding:0px; 
}

html, body {

    font-family:sans-serif;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.system_logo {
    width: 116px;
    height: 116px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}